@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    line-height: 1.5;
}

.content-container {
    width: 100vw;
    padding-left: 25%;
}

@media screen and (max-width: 1000px) {
    .content-container {
        display: block;
        padding-left: 0%;
    }
    .sidebar {
        display: none;
    }
}
  
@layer base {
    body {
        @apply bg-neutral-900
    }
    h1 {
      @apply text-2xl font-bold text-gray-100 my-4;
    }
    h2 {
        @apply text-xl font-semibold text-gray-200 my-3;
      }
    h3 {
        @apply text-lg font-semibold text-gray-300 my-2
    }
    span {
        @apply text-gray-300 
    }
    p {
        @apply text-gray-300
    }
    ul {
        @apply list-disc pl-4 my-1 text-gray-300;
    }
    li {
        @apply text-gray-300
    }
    code {
        @apply text-emerald-400 bg-neutral-800 rounded p-[1px] px-[5px]
    }
    a {
        @apply text-blue-400
    }
  }

  